.head{
    color:lightcoral
}
h1 {
    color:whitesmoke;
    background-color:lightcyan
}
h3 {
    color:lightpink
}
body {
    text-align:center;
    background-color:lightcyan;
}
div{
    border: 10x solid black
    

}